@charset "UTF-8";
/* line 2, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kunder.scss */
h2 {
  text-align: center;
}

/* line 5, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kunder.scss */
.mid-container {
  margin: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 14, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kunder.scss */
section p {
  margin-top: 2em;
}

/* line 18, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kunder.scss */
.kunderimage {
  width: 60px;
  height: auto;
  padding-top: 1rem;
}

/* line 23, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kunder.scss */
.text-kunder {
  text-align: center;
  font-size: 1.1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 2, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kontakt.scss */
.containerContact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/* line 8, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kontakt.scss */
.containerContact .formu {
  float: left;
  margin-right: 4em;
}

/* line 11, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kontakt.scss */
.containerContact .formu textarea {
  width: 10em;
  height: 7em;
  border: solid 1px black;
}

/* line 16, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kontakt.scss */
.containerContact .formu input {
  border: solid 1px black;
}

/* line 19, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kontakt.scss */
.containerContact .formu label {
  width: 10em;
  margin-right: 1em;
}

/* line 24, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kontakt.scss */
.containerContact .kontakt-image {
  width: 300px;
  height: 300px;
  padding: 1rem;
}

/* line 31, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kontakt.scss */
.contact {
  background-color: #C2E4FE;
}

/* line 35, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kontakt.scss */
.header-kontakt {
  padding: 1em;
}

/* line 38, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kontakt.scss */
h2 {
  text-align: center;
}

@media (max-width: 560px) {
  /* line 42, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_kontakt.scss */
  form {
    margin-left: 4.5em;
    text-align: center;
  }
}

@media (min-width: 500px) {
  /* line 2, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_mediaq.scss */
  .mid-container {
    /* width: 400px;*/
    margin-top: 2em;
    margin-left: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2em;
    grid-gap: 2rem;
  }
}

@media (min-width: 500px) {
  /* line 18, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_mediaq.scss */
  .mid-container .kunderimage {
    width: 100px;
    padding: 10px;
  }
}

@media (min-width: 500px) {
  /* line 23, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_mediaq.scss */
  .mid-container .kunderimage .kunderimage1 {
    float: left;
    width: 100px;
    padding: 10px;
  }
}

@media (min-width: 800px) {
  /* line 32, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_mediaq.scss */
  .mid-container {
    width: 800px;
    height: 600px;
    margin-left: 20em;
    grid-gap: 6rem;
    align-content: center;
    margin-top: 2em;
    margin-left: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2em;
    grid-gap: 2rem;
  }
}

@media (min-width: 800px) {
  /* line 53, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_mediaq.scss */
  .mid-container .kunderimage {
    float: left;
    width: 100px;
    padding: 10px;
    margin: 50px;
  }
}

@media (min-width: 560px) {
  /* line 65, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_mediaq.scss */
  .containerContact {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}

/* line 71, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_mediaq.scss */
.containerContact .kontakt-image {
  width: 350px;
  height: 350px;
  padding: 1rem;
  margin-left: 1rem;
}

/* line 3, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
.header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 6em;
  width: 100%;
  background-color: #dbecf0;
  margin-bottom: 0.3em;
}

/* line 11, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
.header .logo {
  float: left;
}

/* line 14, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
.header-hamburger {
  float: right;
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 2em;
  margin-top: 3em;
  opacity: 1;
  align-self: flex-end;
}

/* line 23, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
.header-hamburger:hover {
  cursor: pointer;
}

/* line 26, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
.header-hamburger img {
  width: 2em;
  height: 2em;
}

/* line 31, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
.header .talande {
  display: flex;
  margin-left: 1em;
  justify-content: space-between;
  align-items: center;
}

/* line 36, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
.header .talande .talande-webb {
  float: left;
}

/* line 39, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
.header .talande p {
  padding: .2em;
  font-size: 1.2em;
}

/* line 45, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
.displayNone {
  display: none;
}

/* line 48, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
.nav-res {
  display: block;
  position: fixed;
  right: 0;
  left: 0;
}

/* line 53, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
.nav-res ul {
  width: 100vw;
}

/* line 55, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
.nav-res ul li {
  margin-left: -2em;
  /* margin-right: 3em;
            margin-top: 1em; 
            margin-bottom:1em; */
  margin-bottom: .3em;
  text-align: center;
  list-style-type: none;
  padding: .7em;
}

/* line 65, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
.nav-res ul li:active {
  background-color: #00317f;
}

/* line 68, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
.nav-res ul li a {
  /*  width: 100vw;*/
  padding: 1em 13em;
  margin-left: -4em;
  color: white;
  font-size: .8em;
  text-decoration: none;
  background-color: #0044b2;
}

@media (min-width: 768px) {
  /* line 80, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
  .header {
    height: 7em;
  }
}

@media (min-width: 768px) {
  /* line 62, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_variablerAndFunctions.scss */
  .nav-res ul {
    width: 100vw;
  }
  /* line 64, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_variablerAndFunctions.scss */
  .nav-res ul li {
    margin-left: -2em;
    margin-right: 3em;
    margin-top: 1.3em;
    margin-bottom: 1em;
    margin-bottom: .3em;
    text-align: center;
    list-style-type: none;
    padding: .7em;
  }
  /* line 74, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_variablerAndFunctions.scss */
  .nav-res ul li:active {
    background-color: #00317f;
  }
  /* line 77, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_variablerAndFunctions.scss */
  .nav-res ul li a {
    /*  width: 100vw;*/
    padding: 1em 20em;
    margin-left: -4em;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #0044b2;
  }
}

@media (min-width: 904px) {
  /* line 91, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
  #hamburger, #nav-res {
    display: none;
  }
}

@media (min-width: 904px) {
  /* line 96, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_nav.scss */
  #nav-des {
    display: block;
    float: right;
    align-self: flex-end;
    margin-top: 1.5em;
    display: block;
  }
  /* line 32, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_variablerAndFunctions.scss */
  #nav-des ul {
    margin-bottom: 0;
    margin-top: -.5em;
  }
  /* line 35, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_variablerAndFunctions.scss */
  #nav-des ul li {
    background-color: #0044b2;
    padding: .5em 1.2em;
    margin-left: .1em;
    display: inline-block;
  }
  /* line 40, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_variablerAndFunctions.scss */
  #nav-des ul li:active {
    background-color: #00317f;
  }
  /* line 43, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_variablerAndFunctions.scss */
  #nav-des ul li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
  }
}

/* line 2, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_footer.scss */
footer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: .1em;
  background-color: #dbecf0;
  font-size: .8em;
  padding: 2em;
}

/* line 11, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_footer.scss */
footer p {
  margin-right: 2em;
  float: left;
}

/* line 15, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_footer.scss */
footer img {
  float: right;
  height: 4em;
  width: 4em;
}

/* line 20, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_footer.scss */
footer .clearfix {
  clear: both;
}

/* line 2, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_omoss.scss */
body, html {
  height: 100%;
}

/* line 5, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_omoss.scss */
.parallax_om1 {
  /* The image used */
  background-image: url("../image/bulding.jpg");
  height: 50%;
  margin: 0;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 18, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_omoss.scss */
.parallax_om {
  /* The image used */
  background-image: url("../image/bulding.jpg");
  /* Full height */
  height: 50%;
  margin: 0;
  /* opacity:0.65 ;*/
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-width: 1024px) {
  /* line 36, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_omoss.scss */
  .parallax {
    background-attachment: scroll;
  }
}

/* line 41, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_omoss.scss */
.poss {
  /*background-color: #dbecf0;*/
  color: #777;
  background-color: white;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* padding: 80px 80px;*/
  text-align: justify;
  /* margin-top:-20em;*/
  opacity: 1;
  padding: 20px 20px;
}

/* line 52, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_omoss.scss */
.poss p {
  margin: 0;
}

@media (min-width: 630px) {
  /* line 41, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_omoss.scss */
  .poss {
    padding: 60px 40px;
  }
}

/* .kunderI{
    margin-top:20em;
  }*/
/* line 2, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_tjänster.scss */
.tjenster, .om_oss {
  height: 100%;
}

/* line 5, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_tjänster.scss */
.tjenster {
  margin-top: 23em;
}

/* line 9, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_tjänster.scss */
.kunderI {
  margin-top: 29em;
}

/* line 12, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_tjänster.scss */
.parallax1 {
  /* The image used */
  background-image: url("../image/penor.jpg");
  /* Full height */
  height: 50%;
  margin: 0;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 26, /Users/angelabrahamosoriafernandez/Documents/GitHub/wfs/scss/_tjänster.scss */
.parallax {
  /* The image used */
  background-image: url("../image/penor.jpg");
  /* Full height */
  height: 50%;
  margin: 0;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
/*@media only screen and (max-width: 1024px) {
  .parallax {
      background-attachment: scroll;
  }
}*/

/*# sourceMappingURL=../css/style.map */