@import 'variablerAndFunctions';
footer{
   
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: .1em;
    background-color: $bg_nav_footer;
    font-size: .8em;
    
    padding: 2em;
    p{
        margin-right: 2em;
        float: left;
    }
    img{
        float: right;
        height:4em;
        width: 4em;
    }
    .clearfix{
        clear: both;
    }
}
