@import 'variablerAndFunctions';
footer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: .1em;
    background-color: $bg_nav_footer;
    font-size: .8em;
    height: 10em;
    padding: 1em;
    img{
        height:4em;
        width: 4em;
    }
}