.mid-container{
    width:$mobile-width;
    height: 300px;
    
}

h2{
    padding-left: 2,5rem;
}

p{
    margin:auto
    
}

.kunderimage{
    width: 120px;
    padding-top: 15px;
    display: flex;
    margin:auto;

}

