
h2{
    text-align: center;
}
.mid-container{
    margin: 2em;
    padding: 2em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    p{
        margin-top:2em;
    }
}
.kunderimage{
    width: 60px;
    height: auto;
    padding-top: 1rem;
}
.text-kunder{
    text-align: center;
    font-size: $desktop-p-font;
    font-family: $font-family;
}
