//mediaq for kunder
.mid-container{
    @media #{$tablet-kunder-mediaq}{
       /* width: 400px;*/
        margin-top:2em;
        margin-left: 4em;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;       
        padding:2em;
        grid-gap: 2rem;
    }
    .kunderimage{
        @media #{$tablet-kunder-mediaq}{
        width:100px;
        padding: 10px;
        }
    .kunderimage1{
        @media #{$tablet-kunder-mediaq}{
        float: left;
        width:100px;
        padding: 10px;
        }
     } 
    }   
}
.mid-container{
    @media #{$desktop-kunder-mediaq}{
        width:800px ;
        height:600px ;
        margin-left: 20em;
        grid-gap: 6rem;
        align-content: center;
        margin-top:2em;
        margin-left: 4em;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;       
        padding:2em;
        grid-gap: 2rem;
    }
  
    .kunderimage{
        @media #{$desktop-kunder-mediaq}{
        float: left;
        width:100px;
        padding: 10px;
        margin:50px;
        }
     
    }
}
//mediaq for kontakt

.containerContact{
    @media #{$tablet-kontakt-mediaq}{
        display: flex;
        justify-content: space-around;
        flex-direction:row;
    }
    .kontakt-image{
        width: 350px;
        height: 350px;
        padding: 1rem;
        margin-left: 1rem;
    }
}
