@import 'variabler';


.header{
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
    height:6em;
    background-color: $bg_nav_footer;
    margin-bottom: $margin-bottom;
    &-hamburger{
        align-self: flex-end;
    }
}
li{
    background-color: $bg_li;
    width: 100vw;
    padding:1em;
    margin-bottom: $margin-bottom; 
    margin-left:-2em;
    text-align: center;
    a{
        color:white;
    }
}
p{
    font-size: 1.2rem;
}
