
body, html {
  height: 100%;
  h2{
    text-align: center;
  }
  .om_oss {
  height: 100%;
  .parallax_om {
    background-image: url("../image/bulding.jpg");
    background-position: center;
    @include para;
    }
  }
}
.poss{
  @include tablet-poss{
    padding: 60px 40px;
  }
}