@media(max-width: 1700px){
     .img1{
        width: 100%;
        height: 100%;
    }
    
    .tje1{
        font-size: 30px;
        padding-left: 500px;
        font-weight: bold;
        padding-top: 120px;
        position: absolute;
        
    }
    
    .tje2{
        font-size: 25px;
        padding-left: 500px;
        padding-top: 200px;
        padding-right: 80px;
        position: absolute;
        text-align: justify;
        
    }
    
}


@media(max-width: 1300px){
     .img1{
        width: 100%;
        height: 100%;
    }
    
    .tje1{
        font-size: 22px;
        padding-left: 380px;
        font-weight: bold;
        padding-top: 80px;
        position: absolute;
        
    }
    
    .tje2{
        font-size: 18px;
        padding-left: 380px;
        padding-top: 140px;
        padding-right: 80px;
        position: absolute;
        text-align: justify;
        
    }
    
}


@media(max-width: 959px){
   
    .img1{
        width: 100%;
        height: 500px;
    }
    
    .tje1{
        font-size: 20px;
        padding-left: 276px;
        font-weight: bold;
        padding-top: 30px;
        position: absolute;
        
    }
    
    .tje2{
        font-size: 15px;
        padding-left: 276px;
        padding-top: 70px;
        padding-right: 50px;
        position: absolute;
        text-align: justify;
        
    }
}



@media(max-width: 650px){

    .img1{
        width: 650px;
        height: 330px;
    }
    
    .tje1{
        font-size: 12px;
        padding-left: 190px;
        font-weight: bold;
        padding-top: 5px;
        position: absolute;
    }
    
    .tje2{
        font-size: 11px;
        padding-left: 190px;
        padding-top: 30px;
        padding-right: 5px;
        position: absolute;
    }
}






@media(max-width: 400px){
    
    .img1{
        width: 400px;
        height: 295px;
    }
    
    .tje1{
        font-size: 10px;
        padding-left: 130px;
        font-weight: bold;
        padding-top: 10px;
        position:absolute;
    }
    
    .tje2{
        font-size: 10px;
        padding-left: 130px;
        padding-top: 40px;
        padding-right: 10px;
        position:absolute;
    }
}










