@import "variablerAndFunctions";

$blue: blue;
$size1: 1em;
$mobileresw: 25em;
$mobileresh: 18.75em;
$font-size-mob: 0.625em;
$font-size-desk: 1em;
$position: absolute;

$tablet2: "(min-width: 768px) and (max-width: 1024px)";

.img1 {
  width: 100%;
  height: 100%;
}

.tje1 {
  font-size: 0.65em;
  font-weight: bold;
  padding: 1em 3em 0 12em;
  position: $position;
}

.tje2 {
  font-size: 0.65em;
  padding: 3.5em 1em 0 12em;
  position: $position;
}

@include mobile1 {
  .img1 {
    width: 100%;
    height: 100%;
  }

  .tje1 {
    font-size: 0.75em;
    font-weight: bold;
    padding: 1em 0 0 12em;
    position: $position;
  }

  .tje2 {
    font-size: 0.7em;
    padding: 3.5em 0.3em 0 13em;
    position: $position;
  }
}


@include mobile2 {
  .img1 {
    width: 100%;
    height: 100%;
  }

  .tje1 {
    font-size: 0.75em;
    font-weight: bold;
    padding: 1em 0 0 19em;
    position: $position;
  }

  .tje2 {
    font-size: 0.7em;
    padding: 3.5em 5em 0 20.5em;
    position: $position;
  }
}


@include tablet {
  .img1 {
    width: 100%;
    height: 100%;
  }

  .tje1 {
    font-size: 1.1em;
    font-weight: bold;
    padding: 1.5em 3em 0 20.5em;
    position: $position;
  }

  .tje2 {
    font-size: 1em;
    padding: 4em 8em 0 23em;
    position: $position;
  }
}


@include desktop {
  .img1 {
    width: 100%;
    height: 100%;
  }

  .tje1 {
    font-size: 1.1em;
    font-weight: bold;
    padding: 3em 0 0 24.5em;
    position: $position;
  }

  .tje2 {
    font-size: 1em;
    padding: 6em 5em 0 27em;
    position: $position;
  }
}
