@import "variablerAndFunctions";
section {
  height: 100%;
}
.parallax {
  /* The image used */
  background-image: url("../image/penor.jpg");

  /* Full height */
  height: 100%; 
  margin:0;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
/*@media only screen and (max-width: 1024px) {
  .parallax {
      background-attachment: scroll;
  }
}*/

.poss{
   /*background-color: #dbecf0;*/
   color: #777;
   background-color: white;
   text-align: center;
   padding: 80px 80px;
   text-align: justify;
   margin-top:-20em;
   opacity:1 ;
   p{
   margin: 0;}
  }

$blue: blue;
$size1: 1em;
$mobileresw: 25em;
$mobileresh: 18.75em;
$font-size-mob: 0.625em;
$font-size-desk: 1em;
$position: absolute;

.img1 {
  width: 100%;
  height: 100%;
}

.tje1 {
  padding: 0em 4em 0 4em;
  position: $position;
  font-family: $font-family;
}

.tje2 {
  font-size: $mobile-p-font;
  padding: 8em 1em 0 10em;
  position: $position;
  font-family: $font-family;
}

@include mobile1 {
  .img1 {
    width: 100%;
    height: 100%;
  }

  .tje1 {
    padding: 0em 3em 0 5.2em;
    position: $position;
  }

  .tje2 {
    font-size: $mobile-p-font;
    padding: 7.5em 0.3em 0 13em;
    position: $position;
    font-family: $font-family;
  }
}


@include mobile2 {
  .img1 {
    width: 100%;
    height: 100%;
  }

  .tje1 {
    padding: 0em 3em 0 7em;
    position: $position;
  }

  .tje2 {
    font-size: $mobile-p-font;
    padding: 7em 4em 0 17em;
    position: $position;
    font-family: $font-family;
  }
}


@include tablet {
  .img1 {
    width: 100%;
    height: 100%;
  }

  .tje1 {
    padding: 0 3em 0 8.3em;
    position: $position;
  }

  .tje2 {
    font-size: $tablet-p-font;
    padding: 6em 3em 0 17em;
    position: $position;
    font-family: $font-family;
  }
}


@include desktop {
  .img1 {
    width: 100%;
    height: 100%;
  }

  .tje1 {
    padding: 0.5em 0 0 11em;
    position: $position;
  }

  .tje2 {
    font-size: $desktop-p-font;
    padding: 7em 2em 0 20em;
    position: $position;
    font-family: $font-family;
  }
}
