$bg_nav_footer:#dbecf0;
$bg_li:#0044b2;
$margin-bottom:.3em;
$tablet: "(min-width:768px)";
$desktop: "(min-width: 904px)";
$desktop2: "(min-width: 1153px)";
$mobile1: "(min-width: 422px)";
$mobile-kontakt: "(max-width: 560px)";
$mobile-width: 375px;
$tablet-kunder-mediaq: "(min-width: 500px)";
$tablet-kontakt-mediaq: "(min-width: 560px)";
$tablet-width: 756px;
$tablet-poss: "(min-width: 630px)";
$desktop-kunder-mediaq: "(min-width: 800px)";
$h2font: 2em;
$mobile-p-font: 0.82em;
$tablet-p-font: 1em;
$desktop-p-font: 1.1em;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


@mixin bg_active_li{
    background-color: darken($bg_li, 10%);
}
@mixin show{
    display:block;
    float:right;
    align-self: flex-end;
    margin-top: 1.5em;
    display:block;
    ul{
        margin-bottom: 0;
        margin-top: -.5em;
        li{
            background-color: $bg_li;
            padding: .5em 1.2em;
            margin-left: .1em;
            display: inline-block;
            &:active{
                @include bg_active_li;
            }
            a{
                color:white;
                font-size:1.2em;
                text-decoration: none;
            }
        }
    }
}
@mixin tablet {
    @media #{$tablet} {
    @content;
    }
}
@mixin desktop {
    @media #{$desktop} {
    @content;
    }
}
@mixin nav_tablet{
    ul{
        width: 100vw;
        li{
            margin-left:-2em;
            margin-right: 3em;
            margin-top: 1.3em; 
            margin-bottom:1em; 
            margin-bottom: .3em;
            text-align: center;
            list-style-type: none; 
                
            padding:.7em;  
            &:active{
                @include bg_active_li;
            }      
            a{
            /*  width: 100vw;*/
            padding:1em 20em;
            margin-left:-4em;
            color:white;
            font-size: 1.2em;
            text-decoration: none;
            background-color: $bg_li;
            }
        }
    }

}

@mixin mobile1 {
    @media #{$mobile1} {
    @content;
    }
}

@mixin mobile2 {
    @media #{$mobile2} {
    @content;
    }
}

@mixin desktop2 {
    @media #{$desktop2} {
    @content;
    }
}

@mixin desktop3 {
    @media #{$desktop3} {
    @content;
    }
}
