$bg_nav_footer:#dbecf0;
$bg_li:#0044b2;
$margin-bottom:.3em;
$tablet: "(min-width:818px)";
$desktop: "(min-width: 904px)";
@mixin bg_active_li{
    background-color: darken($bg_li, 10%);
}
@mixin show{
    display:block;
    align-self: flex-end;
    display:block; 
    ul{
        margin-bottom: 0;      
        li{
            background-color: $bg_li;
            padding: .5em 1.2em;
            margin-left: .1em; 
            display: inline-block; 
            &:active{
                @include bg_active_li;
            }
            a{
                color:white;
                font-size:1.2em;
            }
        }
    }
}
@mixin tablet {
    @media #{$tablet} {
    @content;
    }
}
@mixin desktop {
    @media #{$desktop} {
    @content;
    }
}